In [65]:
def wordle_single(answer, guess):
    answerlist = []
    yellowlist = set()
    colors = ["Green", "Yellow", "Red"]
    numbers = []
    green = 0
    yellow = 0
    red = 0
    for letter in answer:
        answerlist.append(letter)
    for i in range(5):
        if guess[i] == answer[i]:
            green += 1
            if guess[i] in yellowlist:
                yellow -= 1
                red+= 1
            else:
                yellowlist.add(guess[i])
        elif guess[i] in answerlist and guess[i] not in yellowlist:
            yellowlist.add(guess[i])
            yellow += 1
        else:
            red+= 1
    numbers.append(green)
    numbers.append(yellow)
    numbers.append(red)
    single_result = {k:v for k, v in zip(colors, numbers)}
    return single_result

def wordle_group(answer, guesses):
    Correct = None
    results = {}
    
    for i in range(0, len(guesses)):
        if answer == guesses[i]:
            Correct = True
        elif answer != guesses[i]:
            Correct = False

    results["Correct"] = Correct
    
    
    for j in range(0, len(guesses)):
        results[f"guess_{j+1}"] = wordle_single(answer, guesses[j])
        
    return results

print(wordle_group("ABCDE",["AAAAA","ASDFG","CCCCC", "ABACA", "ARCAN"]))

{'Correct': False, 'guess_1': {'Green': 1, 'Yellow': 0, 'Red': 4}, 'guess_2': {'Green': 1, 'Yellow': 1, 'Red': 3}, 'guess_3': {'Green': 1, 'Yellow': 0, 'Red': 4}, 'guess_4': {'Green': 2, 'Yellow': 1, 'Red': 2}, 'guess_5': {'Green': 2, 'Yellow': 0, 'Red': 3}}

In [85]:
import pandas as pd

wordle_df = pd.read_json("wordle_data_final.json")
wordle_df

         Name                                        game
0      Aldwin  [HEATH, MODEL, MODEL, STINK, CIGAR, HEATH]
1        Stan  [EVADE, STINK, AWAKE, KARMA, KARMA, EVADE]
2      Aldwin  [MODEL, HEATH, MODEL, KARMA, FOCAL, BLUSH]
3        Stan  [DWARF, SERVE, KARMA, HUMPH, STINK, HEATH]
4       Mitch  [NAVAL, GRADE, SERVE, AWAKE, BENCH, MODEL]
...       ...                                         ...
49995  Aldwin  [SERVE, NAVAL, BLUSH, HEATH, QUIET, SERVE]
49996   Mitch  [GRADE, BENCH, CIGAR, NAVAL, HEATH, REBUT]
49997  Aldwin  [NAVAL, AWAKE, KARMA, BENCH, DWARF, REBUT]
49998   Hazel  [NAVAL, SERVE, BENCH, BENCH, HUMPH, SERVE]
49999   Hazel  [STINK, FOCAL, REBUT, STINK, SERVE, SISSY]

[50000 rows x 2 columns]

In [89]:
wordle_df["expected"] = wordle_df["game"].apply(lambda x: x[0])

wordle_df["guesses"] = wordle_df["game"].apply(lambda x: x[1:])

wordle_df

,Name,game,expected,guesses
0,Aldwin,"[HEATH, MODEL, MODEL, STINK, CIGAR, HEATH]",HEATH,"[MODEL, MODEL, STINK, CIGAR, HEATH]"
1,Stan,"[EVADE, STINK, AWAKE, KARMA, KARMA, EVADE]",EVADE,"[STINK, AWAKE, KARMA, KARMA, EVADE]"
2,Aldwin,"[MODEL, HEATH, MODEL, KARMA, FOCAL, BLUSH]",MODEL,"[HEATH, MODEL, KARMA, FOCAL, BLUSH]"
3,Stan,"[DWARF, SERVE, KARMA, HUMPH, STINK, HEATH]",DWARF,"[SERVE, KARMA, HUMPH, STINK, HEATH]"
4,Mitch,"[NAVAL, GRADE, SERVE, AWAKE, BENCH, MODEL]",NAVAL,"[GRADE, SERVE, AWAKE, BENCH, MODEL]"
...,...,...,...,...
49995,Aldwin,"[SERVE, NAVAL, BLUSH, HEATH, QUIET, SERVE]",SERVE,"[NAVAL, BLUSH, HEATH, QUIET, SERVE]"
49996,Mitch,"[GRADE, BENCH, CIGAR, NAVAL, HEATH, REBUT]",GRADE,"[BENCH, CIGAR, NAVAL, HEATH, REBUT]"
49997,Aldwin,"[NAVAL, AWAKE, KARMA, BENCH, DWARF, REBUT]",NAVAL,"[AWAKE, KARMA, BENCH, DWARF, REBUT]"
49998,Hazel,"[NAVAL, SERVE, BENCH, BENCH, HUMPH, SERVE]",NAVAL,"[SERVE, BENCH, BENCH, HUMPH, SERVE]"
49999,Hazel,"[STINK, FOCAL, REBUT, STINK, SERVE, SISSY]",STINK,"[FOCAL, REBUT, STINK, SERVE, SISSY]"

In [91]:
wordle_df["guesses_used"] = wordle_df.apply(lambda row: next((i for i, num in enumerate (row["guesses"],1) if num == row["expected"]), 5), axis = 1)

wordle_df["Correct"] = wordle_df.apply(lambda row: row["expected"] in row["guesses"], axis=1)

wordle_df

,Name,game,expected,guesses,guesses_used,Correct
0,Aldwin,"[HEATH, MODEL, MODEL, STINK, CIGAR, HEATH]",HEATH,"[MODEL, MODEL, STINK, CIGAR, HEATH]",5,True
1,Stan,"[EVADE, STINK, AWAKE, KARMA, KARMA, EVADE]",EVADE,"[STINK, AWAKE, KARMA, KARMA, EVADE]",5,True
2,Aldwin,"[MODEL, HEATH, MODEL, KARMA, FOCAL, BLUSH]",MODEL,"[HEATH, MODEL, KARMA, FOCAL, BLUSH]",2,True
3,Stan,"[DWARF, SERVE, KARMA, HUMPH, STINK, HEATH]",DWARF,"[SERVE, KARMA, HUMPH, STINK, HEATH]",5,False
4,Mitch,"[NAVAL, GRADE, SERVE, AWAKE, BENCH, MODEL]",NAVAL,"[GRADE, SERVE, AWAKE, BENCH, MODEL]",5,False
...,...,...,...,...,...,...
49995,Aldwin,"[SERVE, NAVAL, BLUSH, HEATH, QUIET, SERVE]",SERVE,"[NAVAL, BLUSH, HEATH, QUIET, SERVE]",5,True
49996,Mitch,"[GRADE, BENCH, CIGAR, NAVAL, HEATH, REBUT]",GRADE,"[BENCH, CIGAR, NAVAL, HEATH, REBUT]",5,False
49997,Aldwin,"[NAVAL, AWAKE, KARMA, BENCH, DWARF, REBUT]",NAVAL,"[AWAKE, KARMA, BENCH, DWARF, REBUT]",5,False
49998,Hazel,"[NAVAL, SERVE, BENCH, BENCH, HUMPH, SERVE]",NAVAL,"[SERVE, BENCH, BENCH, HUMPH, SERVE]",5,False
49999,Hazel,"[STINK, FOCAL, REBUT, STINK, SERVE, SISSY]",STINK,"[FOCAL, REBUT, STINK, SERVE, SISSY]",3,True

In [92]:
player_names = wordle_df['Name'].unique()
num_player_names = wordle_df['Name'].nunique()
print(f"The player names are {player_names}, there are {num_player_names} of them.")

The player names are ['Aldwin' 'Stan' 'Mitch' 'Hazel' 'Jer'], there are 5 of them.

In [ ]:
win_rate_user =